@model Schronisko.zwierze
<link href="~/Content/descriptionStyles1.css" rel="stylesheet" />

<div id="home">
    <div id="text" class="text-center">@ViewBag.nazwa</div>
</div>
<div>
    <div id="content">
        <div class="row">
            <div class="col-md-7">

                <img class="img-responsive center-block" id="imgCustom" src="~/pictures/petsFull/@(Html.DisplayFor(model => model.zdjecie)).jpg" />

            </div>

            <div class="col-sm-5">
                <div id="flexInfo">
                    <div id="dataContainer">
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayNameFor(model => model.nazwa)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.nazwa)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.data_ur)
                            </dt>

                            <dd>
                                @Convert.ToDateTime(Model.data_ur).ToShortDateString()
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.kastracja)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.kastracja)
                            </dd>


                            <dt>
                                @Html.DisplayNameFor(model => model.plec)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.plec)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.gatunek)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.gatunek)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.wielkosc)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.wielkosc)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.kojec.dystrykt)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.kojec.dystrykt)
                            </dd>

                            <dt>
                                rasa
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.rasa.nazwa)
                            </dd>

                        </dl>
                    </div>



                    @if (Session["user"] != null)
                    {
                <div id="buttonContainer">
                    

                    <a href="@Url.Action("RequestAdoption","Zwierze",new { id = Model.id})">
                        <div id="buttinio" class="btn btn-success"></div>
                    </a>
                    
                </div>
                    }
                  

                </div>
            </div>
        </div>
    </div>
</div>

