@model Schronisko.historia_adopcji
<div class="container">
    <h3>Jesteś pewny, że chcesz to usunąć?</h3>
    <div>
        <h4>historia_adopcji</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.data)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.data)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.pracownik.imie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pracownik.imie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.uzytkownik.imie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.uzytkownik.imie)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.zwierze.nazwa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.zwierze.nazwa)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                @Html.ActionLink("Wróć do listy", "Index")
            </div>
        }
    </div>
    </div>
