@model IEnumerable<Schronisko.historia_adopcji>
<div class="container">
    <p>
        @Html.ActionLink("Stwórz nowy", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
               Imie pracownika
            </th>
            <th>
                Imie użytkownika
            </th>
            <th>
                Imie zwierzęcia
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pracownik.imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uzytkownik.imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.zwierze.nazwa)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Detale", "Details", new { id = item.id }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    </div>
