
<div class="row">
    <div class="col-md-4">
        <p><a href="@Url.Action("Index", "Kojec")">Kojec</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="@Url.Action("Index", "Stanowisko")">Stanowisko</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="@Url.Action("Index", "Uzytkownik")">Uzytkownik</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="@Url.Action("Index", "Uprawnienia")">Uprawnienia</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="@Url.Action("Index", "KontoInfo")">KontoInfo</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="@Url.Action("Index", "Pracownik")">Pracownik</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="@Url.Action("Index", "Rasa")">Rasa</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="@Url.Action("Index", "Zwierze")">Zwierze</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="@Url.Action("Index", "Historia_adopcji")">Historia_adopcji</a></p>
    </div>
    <div class="col-md-4">
        <p><a href="@Url.Action("Index", "Historia_adopcji")">Historia_adopcji</a></p>
    </div>
</div>