<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        zdj
                    </div>
                    <div class="panel-body">
                        <h2>Kojec</h2>
                        <button class="btn-success float-right" onclick="location.href='@Url.Action("Index", "Kojec")'">Zobacz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        zdj
                    </div>
                    <div class="panel-body">
                        <h2>Stanowisko</h2>
                        <button class="btn-success float-right" onclick="location.href='@Url.Action("Index", "Stanowisko")'">Zobacz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        zdj
                    </div>
                    <div class="panel-body">
                        <h2>Użytkownik</h2>
                        <button class="btn-success float-right" onclick="location.href='@Url.Action("Index", "Uzytkownik")'">Zobacz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        zdj
                    </div>
                    <div class="panel-body">
                        <h2>Uprawnienia</h2>
                        <button class="btn-success float-right" onclick="location.href='@Url.Action("Index", "Uprawnienia")'">Zobacz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        zdj
                    </div>
                    <div class="panel-body">
                        <h2>Konta</h2>
                        <button class="btn-success float-right" onclick="location.href='@Url.Action("Index", "KontoInfo")'">Zobacz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        zdj
                    </div>
                    <div class="panel-body">
                        <h2>Pracownik</h2>
                        <button class="btn-success float-right" onclick="location.href='@Url.Action("Index", "Pracownik")'">Zobacz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        zdj
                    </div>
                    <div class="panel-body">
                        <h2>Rasa</h2>
                        <button class="btn-success float-right" onclick="location.href='@Url.Action("Index", "Rasa")'">Zobacz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        zdj
                    </div>
                    <div class="panel-body">
                        <h2>Zwierze</h2>
                        <button class="btn-success float-right" onclick="location.href='@Url.Action("Index", "Zwierze")'">Zobacz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        zdj
                    </div>
                    <div class="panel-body">
                        <h2>Historia adopcji</h2>
                        <button class="btn-success float-right" onclick="location.href='@Url.Action("Index", "Historia_adopcji")'">Zobacz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel-group col-md-4 col-md-offset-4" >
                <div class="panel panel-default">
                    <div class="panel-heading">
                        zdj
                    </div>
                    <div class="panel-body">
                        <h2>Adopcje</h2>
                        <button class="btn-success float-right" onclick="location.href='@Url.Action("Index", "RequestConf")'">Zobacz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>